@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

/* Minimal CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Declaring Variables */
:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);

    --font-family: "Read hat Text", sans-serif;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

body {
    font-family: var(--font-family);
    background-color: var(--rose-50);
}

/* Product Section Styles */
.project-container {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
}

.product-card {
    max-width: 654px;
}

.product-image-container {
    position: relative;
}

.product-card img {
    border-radius: 10px;
}

.selected-border {
    border: 3px solid var(--red);
}

button.add-to-cart {
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    white-space: nowrap;
    border-radius: 50px;
    background-color: #fff;
    border: 1.5px solid var(--rose-400);
    font-size: 1rem;
    font-weight: var(--fw-600);
    color: var(--rose-900);
}

.adjust-quantity {
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--red);
    color: #fff;
    font-weight: var(--fw-400);
    padding: 1rem 1rem;
    border-radius: 50px;
    z-index: 2;
}

.adjust-quantity button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
}

button.add-to-cart:hover,
.adjust-quantity button:hover {
    cursor: pointer;
}

.product-info {
    padding-top: 3rem;
    display: grid;
    gap: 0.5rem;
}

.product-info .category {
    color: var(--rose-400);
}

.product-info .product-name {
    font-size: 1.2rem;
    color: var(--rose-900);
}

.product-info .price {
    font-size: 1.1rem;
    font-weight: var(--fw-600);
    color: var(--red);
}

/* Shopping Cart Styles */
div.shopping-cart-container {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 1.5rem;
    border-radius: 10px;
    height: min-content;
}

.shopping-cart-container>p {
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: var(--fw-700);
    color: var(--red);
}

.empty-cart-wrapper {
    display: block;
    margin-top: 4rem;
}

.incart-wrapper {
    display: none;
}

.empty-cart-wrapper>p {
    color: var(--rose-500);
    font-weight: var(--fw-400);
    text-align: center;
    font-size: 1rem;
}

.shopping-cart-container img {
    margin: 0 auto;
    padding-top: 1rem;
}

.selected-item {
    position: relative;
    border-bottom: 1px solid var(--rose-100);
    padding: 1rem 0;
}

.selected-item-name {
    color: var(--rose-900);
    font-weight: var(--fw-700);
    margin-bottom: 1rem;
}

.selected-item-quantity {
    color: var(--red);
    font-weight: var(--fw-700);
    margin-right: 0.5rem;
}

.selected-item-price {
    color: var(--rose-400);
    font-weight: var(--fw-600);
    margin-right: 0.25rem;
}

.selected-item-price span {
    font-size: 0.80rem;
}

.selected-item-total {
    color: var(--rose-500);
    font-weight: var(--fw-600);
}

button.remove-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: transparent;
    height: 20px;
    width: 20px;
    border: 1.5px solid var(--rose-400);
}

button.remove-items img {
    padding: 0;
}

button.remove-items:hover {
    cursor: pointer;
}

.order-total-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
    vertical-align: center;
}

.order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-total p:first-of-type {
    color: var(--rose-600);
    font-size: 0.875rem;
}

.order-total p:nth-of-type(2) {
    color: var(--rose-900);
    font-size: 1.3rem;
    font-weight: var(--fw-700);
}

.carbon-neutral {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: var(--rose-50);
    color: var(--rose-900);
    font-size: 0.875rem;
    border-radius: 10px;
}

.carbon-neutral img {
    padding: 0;
    margin: 0;
}

button.confirm-order {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: var(--red);
    color: #fff;
}

button.confirm-order:hover {
    cursor: pointer;
}

/* Order confrimed card styles */
.confirmed-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.show {
    display: flex;
}

.order-confirmed-container {
    display: grid;
    position: fixed;
    width: 100%;
    max-width: 400px;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.confirmed-msg {
    font-size: 3rem;
    font-weight: var(--fw-700);
}

.enjoy-msg {
    color: var(--rose-500);
}

.confirmed-cart-wrapper {
    background-color: var(--rose-50);
    padding: 0 1rem;
    border-radius: 10px;
}

.confirmed-item {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
    border-bottom: 1px solid var(--rose-100);
}

.confirmed-item img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 15px;
}

.confirmed-name-price-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirmed-item-name {
    color: var(--rose-900);
    font-weight: var(--fw-600);
}

.confirmed-total-price {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--rose-900);
    font-weight: var(--fw-600);
}

.confirmed-item-quantity {
    color: var(--red);
    font-weight: var(--fw-600);
    margin-right: 10px;
}

.confirmed-item-price {
    color: var(--rose-500)
}

.confirmed-item-price span {
    font-size: 0.80rem;
}

.confirmed-total-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
    vertical-align: center;
}

.confirmed-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirmed-total p:nth-of-type(2) {
    color: var(--rose-900);
    font-size: 1.3rem;
    font-weight: var(--fw-700);
}

button.new-order {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--red);
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 50px;
}

button.new-order:hover {
    cursor: pointer;
}

/* Media query for tablets */
@media screen and (min-width: 600px) {
    .menu-container {
        width: 60%;
    }

    .order-confirmed-container {
        border-radius: 10px;
    }

    .product-card {
        max-width: 427px;
    }
}

/* Media query for large screens */
@media screen and (min-width: 1000px) {
    .project-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 2rem;
    }

    .product-card {
        max-width: 502px;
    }
}